src/main/resources/text.align.justify/InputFile.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="justify" type="justify"/>
  <xs:complexType name="input">
    <xs:sequence>
      <xs:element name="content">
        <xs:simpleType>
          <xs:restriction base="xs:string"/>
        </xs:simpleType>
      </xs:element>
      <xs:element name="width">
        <xs:simpleType>
          <xs:restriction base="xs:integer"/>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="inputs">
    <xs:sequence>
      <xs:element type="input" name="input" maxOccurs="unbounded" minOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="justify">
    <xs:sequence>
      <xs:element type="inputs" name="inputs"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>