src/main/resources/text.align.justify/Output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="response" type="response"/>
  <xs:complexType name="result">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="nr" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="results">
    <xs:sequence>
      <xs:element type="result" name="result" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="response">
    <xs:sequence>
      <xs:element type="xs:string" name="quantity"/>
      <xs:element type="results" name="results"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>